
/* Step two
/* 1.Create a CSS file for your rafting site named "rafting.css" and store it in the styles folder within the wwr folder. */
/* 2.Add an @import reference from Google Fonts to use the font(s) you have selected in your site plan. */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
/* 3.Define the CSS variables in the document :root pseudo-class selector from the color schema you have selected and documented in your website plan. */
:root {
    --primary-color: #2892D7;
    --secondary-color: #FFFFFC;
    --accent1-color: #4D8B31;
    --accent2-color: #000500;
  
    --heading-font: 'Bebas Neue', cursive;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #2892D7;
    --nav-link-color: #000500;
    --nav-hover-link-color: #4D8B31;;
    --nav-hover-background-color: #FFFFFC;
}
/* 4. Begin by styling the headings and paragraph elements. */
h1,h2,h3,h4,h5,h6 { 
    /* 5.Add colors to the fonts. */
    font-family: var(--heading-font);
    color: var(--accent2-color)
}
p {font-family: var(--paragraph-font);
     /* 5.Add colors to the fonts. */
    color: var(--accent2-color);
    padding: 25px;
}

.sociallinks a {
            /* 6.Remove the underlines from the social media links. */
            text-decoration: none;

}
/*7 Consider limiting the entire width of the page to make it easier to design the content. */
body {
    min-height: 100vh;
    max-width: 1100px;
}

/*STEP 4.*/
div.hero  {
    position: relative;
}


div h1 {
    position: absolute;
    bottom: 450px;
    left: 400px;
    border: 1px solid var(--accent2-color);
	padding: 0.65rem;
	box-shadow: 0 0 30px var(--accent2-color);
    

}

div article {
    position: absolute;
    background-color: var(--primary-color);
    opacity: 85%;
    right: 100px;
    bottom: 270px;
    left: 40px;

}
div img {
    width: 1050px;
    height: 700px;

}

article img  {
    float: right;
    width: 200px;
    height: 200px;
}



